langchain
openai
streamlit
langchain
openai
pymysql
sqlalchemy
python-dotenv
langchain==0.0.304
pytube>=12.0.0
yt-dlp>=2024.1.1
validators>=0.18.0
streamlit>=1.22.0
langchain>=0.0.149
langchain_groq>=0.0.1
langchain_community>=0.0.1
